<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>

    <style>
    .button {
      border: none;
      color: white;
      padding: 5px 7px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button1 {background-color: #820000;} /* Red */
    .button2 {background-color: #149000;} /* Green */
    .button3 {background-color: 66666;}
    .button4 {background-color: 66666;}
    </style>
</head>
<body bgcolor="66666">
    <div class="information">
        <div>
            <form action="/add-question" method="post">
                <button id="add-question" type="submit">Add question</button>
            </form>
            <form action="/search?q=<search phrase>" method="get">
                <input type="text" name="search phrase" id="search phrase">
                <button type="submit">Search</button>
            </form>
        </div>
        <div>
            <table border="2px" width="80%" align="center">
                <tr>
                    <th>
                        ID
                        <button onclick="window.location.href='/sort?sort=id&dir=asc';"><b>&#8593;</b></button>
                        <button onclick="window.location.href='/sort?sort=id&dir=desc';"><b>&#8595;</b></button>
                    </th>
                    <th>
                        Title
                        <button onclick="window.location.href='/sort?sort=title&dir=asc';"><b>&#8593;</b></button>
                        <button onclick="window.location.href='/sort?sort=title&dir=desc';"><b>&#8595;</b></button>
                    </th>
                    <th>
                        Question
                        <button onclick="window.location.href='/sort?sort=message&dir=asc';"><b>&#8593;</b></button>
                        <button onclick="window.location.href='/sort?sort=message&dir=desc';"><b>&#8595;</b></button>
                    </th>
                    <th>
                        Visitors
                        <button onclick="window.location.href='/sort?sort=view_number&dir=asc';"><b>&#8593;</b></button>
                        <button onclick="window.location.href='/sort?sort=view_number&dir=desc';"><b>&#8595;</b></button>
                    </th>
                    <th>
                        Votes
                        <button onclick="window.location.href='/sort?sort=vote_number&dir=asc';"><b>&#8593;</b></button>
                        <button onclick="window.location.href='/sort?sort=vote_number&dir=desc';"><b>&#8595;</b></button>
                    </th>
                    <th>
                        Vote
                    </th>
                </tr>
                    {% for quest in questions %}
                    <tr>
                        <td align="center">{{ quest["id"] }}</td>
                        <td><a href="/visitor/{{quest['id']}}">{{ quest["title"] }}</a></td>
                        <td>{{ quest["message"] }}</td>
                        <td align="center">{{ quest["view_number"] }}</td>
                        <td align="center">{{ quest["vote_number"] }}</td>
                        <td>
                        <button onclick="window.location.href='/question/{{quest['id']}}/vote_down';" class="button button1" type="submit">&#9660</button>
                        <button onclick="window.location.href='/question/{{quest['id']}}/vote_up';" class="button button2" type="submit">&#9650</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </div>
</body>
</html>