<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New tag</title>
</head>
<body>
<h1>Question: {{ question['title']}}</h1>
{% if question_tag[0]['name'] != none %}
<h2>Linked tags:{%for tag in question_tag%}{{tag['name']}} {%endfor%}</h2>
{% endif %}
{% if tags %}
<form action="/question/{{id}}/new-tag" method="post">
Change tag:
    <select id="tags" name="tags">
        {% for tag in tags %}
            <option value = "{{tag['name']}}" >{{tag['name']}}</option>
        {% endfor %}
    </select>
    <input type="submit" formaction="/question/{{id}}/delete-tag" value="DEL">
    <input type="submit" value="ADD">
</form>
{% endif %}
<br>
<form action="/question/{{id}}/add-new-tag" method="post">
    <label for="new_tag">Add new tag:</label>
    <input type="text" name="new_tag" id="new_tag" required></input>
    <input type="submit" value="Send"></input>
</form>
</body>
</html>
