<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Answer</title>

        
</head>
<body bgcolor="55555">
    <fieldset class="block">
            <h1 style="color:white;" align="center">{{ question["message"] }}</h1>
        <fieldset>
            <legend>Your answer</legend>

            <form action="/save_answer/{{ id }}" method="post" enctype="multipart/form-data">
                <textarea  name="answer" rows="15" cols="150"></textarea><br>
                <input type="file" name="file" id="picture"/>
                <button type="submit">Send answer</button>
            </form>
        </fieldset>
    </fieldset>
</body>
</html>