<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New tag</title>
</head>
<body>
<form action="/question/{{id}}/new-tag" method="post">
Existing tags:
    <select id="tags" name="tags">
        {% for tag in tags %}
            <option value = "{{tag['name']}}" >{{tag['name']}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="SET">
</form>
<br>
<form action="/question/{{id}}/add-new-tag" method="post">
    <label for="new_tag">Add new tag:</label>
    <input type="text" name="new_tag" id="new_tag"></input>
    <input type="submit" value="Send"></input>
</form>
</body>
</html>
